<!DOCTYPE HTML>
<html ng-app="myapp">
  <head>
    <title>Angular Slidezilla</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="src/angular-slidezilla.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="src/angular-slidezilla.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Angular Slidezilla Demo</h1>
      </div>
      <div class="row" ng-controller="sliderdemo">
        <div class="col-md-8 col-sm-12">
          This is the demo of Angular Slidezilla: a simple slider directive.
          <br><br>
          View source on this page to see the various options available (also available in the github repo).
          <br><br>
          For more information and full documents see <a href="https://github.com/itslenny/angular-slidezilla">Github</a>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="well">
            <h4>Basic</h4>
            <slider ng-model="slider1.val"></slider>
            <br><br>
            Value: {{slider1.val}}
          </div>
          <div class="well">
            <h4>Static</h4>
            <slider ng-model="slider2.val" min="-25" max="25" step="1"></slider>
            <br><br>
            Value: {{slider2.val}}
          </div>
          <div class="well">
            <h4>Dynamic</h4>
            <slider ng-model="slider3.val" min="slider3.min" max="slider3.max" step="slider3.step"></slider><br>
            Value: {{slider3.val}}
            <br><hr><br>
            Min: {{slider3.min}}<br>
            <slider ng-model="slider3.min" min="-50" max="0" step="1"></slider><br><br>
            Max: {{slider3.max}}<br>
            <slider ng-model="slider3.max" min="10" max="50" step="1"></slider><br><br>
            Step: {{slider3.step}}<br>
            <slider ng-model="slider3.step" min="0.5" max="2" step="0.5"></slider>
            <br><br>

          </div>
          <div class="well">
            <h4>Range</h4>
            <slider ng-model="slider4.val"></slider>
            <br><br>
            Values: {{slider4.val}}
          </div>      
        </div>
      </div>
    </div>        
  </body>
</html>